# Ambiente virtual
venv/
.env

# Python
__pycache__/
*.py[cod]

# Banco local
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Cache de testes
.pytest_cache/
.coverage

# Sistema Operacional
.DS_Store
Thumbs.db